<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title> Guardian </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="stylesheets/index.css"> 
	<!-- Latest compiled and minified JavaScript -->

	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>

	<script>
	 	$(".alert").alert();
	 	$(document).ready(function() {
			$.validator.addMethod("email", function(value, element) 
			{ 
			return this.optional(element) || /^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]{2,5}$/i.test(value); 
			}, "Please enter a valid email address.");

			$.validator.addMethod("username",function(value,element)
			{
			return this.optional(element) || /^[a-zA-Z0-9._-]{3,16}$/i.test(value); 
			},"Names are 3-15 characters");

			$.validator.addMethod("password",function(value,element)
			{
			return this.optional(element) || /^[A-Za-z0-9!@#$%^&*()_]{6,16}$/i.test(value); 
			},"Passwords are 6-16 characters");

			$("#signup").validate({
			  rules: {
					email: "required email",
					username: "required username",
					password: "required password"
			  },
			  showErrors: function(errorMap, errorList) {
			    $.each(this.successList, function(index, value) {
			      return $(value).popover("hide");
			    });
			    return $.each(errorList, function(index, value) {
			      var _popover;
			      console.log(value.message);
			      _popover = $(value.element).popover({
			        trigger: "manual",
			        placement: "left",
			        content: value.message,
			        template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
			      });
			      _popover.data("popover").options.content = value.message;
			      return $(value.element).popover("show");
			    });
			  }
			});	
		});	
	</script>
</head>
<body>

<% if (message1.length > 0) { %>
		<div class="alert alert-danger text-center fade in" style="margin-bottom:0px;"><%= message1 %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		</div>
<% } %>
<% if (message2.length > 0) { %>
		<div class="alert alert-danger text-center fade in" style="margin-bottom:0px;"><%= message2 %>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		</div>
<% } %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #FFFFFF;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--        <a class="navbar-brand" href="#">Guardian</a>    
 -->	<a class="brand" href="#">            	  
		<img class="img-circle" src="images/Logo.png" alt="Generic placeholder image" style="width: 37px; height: 37px; margin-left:15px; margin-top:5px;">
	</a>    

	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 	  <form class="navbar-form navbar-left" role="form" action="/getSession" method="get" accept-charset="UTF-8">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Session ID" name="id">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
      </form>

 	  <form class="navbar-form navbar-right" action="/login" method="post" role="form">
        <div class="form-group">
	       <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron" style="margin-bottom:0px;">
	<div class="container-fluid">
		<div class="row">
		</div>
	   <div class="row">
		  	<div class="col-md-4 col-md-offset-2 text-left" style="margin-top:20px">
		  		<h1>Guardian</h1>
		  		<h3>An advanced and efficent GPS tracker for a safer night out</h3>
			</div>
		  	<div class="col-md-3 col-md-offset-2">
				<form action="/signup" method="post" id="signup" accept-charset="UTF-8">
					<div class="form-group">
							<input type="text" class="form-control" placeholder="Enter your name" name="username" style="padding: 0px 19px 0px 19px; font-size: 19px;height: 50px;">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Your email" name="email" style="padding: 0px 19px 0px 19px; font-size: 19px;height: 50px;">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Create a password" name="password" style="padding: 0px 19px 0px 19px; font-size: 19px;height: 50px;">
					</div>
					<button type="submit" class="btn btn-lg btn-success btn-block">Sign Up</button>
				</form>
		  	</div>
		</div>
	</div>
</div>
<div class="jumbotron" style="background: #FFFFFF;margin-bottom:0px;">
	<div class="container-fluid">
	   <div class="row" style="margin-bottom:30px;">
	   	<div class="text-center"><h2>Why Guardian? </h2></div>
	   </div>
	   <div class="row">
		   	<div class="col-md-4 text-center">
		   	<img class="img" src="images/user.png" alt="image" style="width: 100px; height: 100px">
	          <h3>Keep your friends safe</h3>
	          <p>Make sure your friends are safe </br> when they go out</p>
		  	</div>
		  	<div class="col-md-4 text-center">
				<img class="img" src="images/friends.png" alt="image" style="width: 100px; height: 100px">
				<h3>Your friends keep you safe</h3>
				<p>Make sure you get back home safe </br>when you go out</p>
		  	</div>
		  	<div class="col-md-4 text-center">
		  		<img class="img" src="images/warning.png" alt="image" style="width: 100px; height: 100px">
	          	<h3>Panic!</h3>
	         	<p>When something bad happens, </br>your friends will know</p>
		  	</div>
		</div>
	</div>
</div>

<div class="jumbotron" style="background: #FFFFFF;">
	<div class="container-fluid">
	   <div class="row" style="margin-bottom:30px;">
	   	<div class="text-center"><h2>Features </h2></div>
	   </div>
	   <div class="row">
		   	<div class="col-md-4 text-center">
		   	<img class="img" src="images/settings.png" alt="image" style="width: 100px; height: 100px">
	          <h3>Quick Setup</h3>
	          <p>Get it up and running in no time</p>
		  	</div>
		  	<div class="col-md-4 text-center">
				<img class="img" src="images/battery.png" alt="image" style="width: 100px; height: 100px">
				<h3>Battery Efficient</h3>
				<p>Making sure your battery</br> makes it through the night</p>
		  	</div>
		  	<div class="col-md-4 text-center">
		  		<img class="img" src="images/pie.png" alt="image" style="width: 100px; height: 100px">
	          	<h3>Ease of use</h3>
	         	<p>Easy as pie</p>
		  	</div>
		</div>
	</div>
</div>





</body>
</html>