<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title> Guardian </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
 	<link rel="stylesheet" href="stylesheets/index.css"> 
 	<script type="text/javascript">
 		function loadTable(){
 			
 		}
 	</script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #FFFFFF;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--        <a class="navbar-brand" href="#">Guardian</a>    
 -->	<a class="brand" href="/">            	  
		<img class="img-circle" src="images/Logo.png" alt="Generic placeholder image" style="width: 37px; height: 37px; margin-left:15px; margin-top:5px;">
	</a>    

	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 	  <form class="navbar-form navbar-left" role="search" action="/getSession" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Session ID" name="id">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
      </form>
      <form class="navbar-form navbar-right" role="form" action="/logout" method="get">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="containter-fluid">
<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center" style="margin-top:20px">
		  		<h1>Welcome back <%= user.local.name %>!</h1>
			</div>
</div>
<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center" style="margin-top:20px">
		  		<h3>Session History</h3>
			</div>
</div>
<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center" style="margin-top:20px">
				<div id="Table" style="margin-top:20px"></div>
			</div>
</div>
</div>





</body>
</html>