<!DOCTYPE html>
<html>
	<head> 
		<title> Session Log </title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0u-SXBYuLVB_cSNAb_rBuH7uhAVf1fdA&sensor=false&location_type=RANGE_INTERPOLATED"></script>
		<script type="text/javascript" src='/javascripts/socket.io.min.js'></script>    
		<script type="text/javascript" src='/javascripts/jquery-1.9.1.min.js'></script>    
		<script type="text/javascript" src='/javascripts/index.js'></script>    
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			 var cachedReverseGeocode = [];
			 function setup()
			 {
			 	// var guardianContactArray =  session.session.guardianContactArray;
			 	// console.log(guardianContactArray);
			 	//  for (var guardianContact in guardianContactArray){
			 	//  	guardianArray.innerHTML += guardianContact.phone;
			 	// }
			 	var startDate = document.getElementById("startDate");
		     	startDate.innerHTML=moment(<%= session.session.startDate %>).format("dddd, MMMM Do, h:mm a");
		     	var endDate = document.getElementById("endDate");
		     	endDate.innerHTML=moment(<%= session.session.endDate %>).format("dddd, MMMM Do, h:mm a");
			 }

			function setupLinks(locationsArray){
				//console.log("I GET HERE");
			 	for(var i=0;i<locationsArray.length;i++){
					//console.log(i);
					//console.log(locationsArray);
			 		var addressHTML = document.getElementById("addr_"+i);
			 		var location = locationsArray[i];
			 		(function(location){
			 		addressHTML.onclick = function(){
			 			//map = new google.maps.Map(document.getElementById('map')); 
			 			var focus = new google.maps.LatLng(location.latitude, location.longitude);
			 			map.panTo(focus);
			 			//console.log(focus);
			 			//alert('Hello!');
			 			return false;
			 		}})(location);

			 	}
			 }
			function loadMap(locationsArray) 
			{
				//console.log("check it: "+locationsArray[0].timeStamp);
				var geocoder = new google.maps.Geocoder();

				var centerLong;
				var centerLat
				if(locationsArray.length)
				{
					centerLat = locationsArray[locationsArray.length-1].latitude;
					centerLong = locationsArray[locationsArray.length-1].longitude;
				}
				else
				{
					centerLat = 33.775509;
					centerLong = -84.396379;
				}

				var myOptions = {
				  center: new google.maps.LatLng(centerLat, centerLong),
				  zoom: 13,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById("map"),
					myOptions);	

				

				var myMarker, i;
				for( i = 0; i < locationsArray.length; i++)
				{
					marker = new google.maps.Marker({
					position: new google.maps.LatLng(locationsArray[i].latitude, locationsArray[i].longitude), // Example Lat/Long
					map: map, // references the map object you defined earlier
					title: moment(locationsArray[i].timeStamp).format("dddd, h:mm a") // a title that will appear on hover
	    			});
				} 	

				var tableHTML = '<table class="table text-center " style="width:1000px">';
				tableHTML += '<th class="text-center">TIME</th>';
				tableHTML += '<th class="text-center">ADDRESS</th>';

				// results += '<th class = "text-center">Longitude</the>';
				var timeout = 0;
	            for (var i=0; i<locationsArray.length; i++) {   
	            	var found = false;
	            	var location = locationsArray[i];
	            	var latlng = new google.maps.LatLng(location.latitude, location.longitude);
	            	if(cachedReverseGeocode[latlng]){
	            		found = true;
	            		//console.log("DAT caching!");
	            	}
	            	else{
		            	(function(i, latlng){ //start wrapper code
		            	setTimeout(function(){
		            		geocoder.geocode({'latLng': latlng}, function(results, status){
		            		// console.log(i);
		            		// console.log(results);
		            		if (status == google.maps.GeocoderStatus.OK) {
							      if (results[0]) {
							      	var addressHTML = document.getElementById("addr_"+i);
							      	addressHTML.innerHTML = results[0].formatted_address;
							      	cachedReverseGeocode[latlng]=results[0].formatted_address;
							      } else {
					          		//alert('No results found');
							      }
							} else {
							      //alert('Geocoder failed due to: ' + status);
							}
		            	});
		            	}, timeout);
		            	timeout+=500;
		            	})(i, latlng);
	            	}
					tableHTML += "<tr class=\"text-center\"><td>" + moment(locationsArray[i].timeStamp).format("dddd, h:mm a") + "</td>";  
					if(found === true){
						tableHTML += "<td><a id=\"addr_"+i+"\" href=\"#\">" + cachedReverseGeocode[latlng] +"</a></td>";
					}
					else {
						tableHTML += "<td><a id=\"addr_"+i+"\" href=\"#\">(" + locationsArray[i].latitude + " / "+ locationsArray[i].longitude + ")</a></td>";

					}
		            tableHTML += "</tr>";
	            }
	            //console.log(cachedReverseGeocode);
	            // function callback(i, results, status){
	            // 	console.log(i);
	            // }
		   //      function callback (i, results, status){
		   //          function(results, status) {
					// 	    if (status == google.maps.GeocoderStatus.OK) {
					// 	      if (results[1]) {
					// 	      	var addressHTML = document.getElementById("addr_"+i);
					// 	      	addressHTML.innerHTML = results[1].formatted_address;
					// 	      } else {
				 //          		alert('No results found');
					// 	      }
					// 	    } else {
					// 	      alert('Geocoder failed due to: ' + status);
					// 	    }
					// }
					// console.log(i);
					// function(results, status){
					// 	console.log(i);
					// }
		   //      }

	            tableHTML += "</table>";
	         	var div = document.getElementById("Table");
	        	div.innerHTML = tableHTML;	
			}

			function initializeLocations(){
			  	setup();
				var url = window.location.href;
				var pathArray;
				if(url.indexOf('?id')!=-1){
				pathArray = url.split('=');
				}
				else{
				pathArray = url.split('/');
				}
		      var pathCreated = window.location.origin+"/getLocationsArrayForSession/"+pathArray[pathArray.length-1];
		       $.get(pathCreated,function(data,status){
		         loadMap(data);
		         setupLinks(data);
		      });
			}
			window.onload=initializeLocations;
		</script>
		
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #FFFFFF;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--        <a class="navbar-brand" href="#">Guardian</a>    
 --><a class="brand" href="/">            	  
		<img class="img-circle" src="../images/Logo.png" alt="Generic placeholder image" style="width: 37px; height: 37px; margin-left:15px; margin-top:5px;">
	</a>    
	</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 	  <form class="navbar-form navbar-left" role="form" action="/getSession" method="get" accept-charset="UTF-8">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Session ID" name="id">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

		<div class = "container-fluid" style="padding-top:40px;">
			<div class="row">
			<div class="text-center">
				<h2><span class="fa"></span> <%= session.session.name %>'s Session</h2>
<!-- 				<button type="button" class="btn btn-danger btn-xs">Call</button>
				<button type="button" class="btn btn-primary btn-xs">E-mail</button>
 -->			</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="map" style="height:250px;margin-bottom:20px"></div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-6 col-md-offset-2">
			<div>
				<b>START | </b><span id="startDate">Date</span>
			</div>
			<div>
				<b>END |  </b><span id="endDate">Date</span>
			</div>
			<div>	
				<b>GUARDIANS |  </b>
				<% if (contactArray.length) { %>
				    <% for(var i=0;i<contactArray.length;i++){ %>
				    	 <% var contact = contactArray[i]; %>
				      	 <%= contact.name %><% if(i!=contactArray.length-1){ %>,
				    	<% } %>
				    <% } %>
				<% } %>
			</div>

 			<div id="Table" style="margin-top:20px;"></div>
			</div>
			</div>
		</div>

<!-- 		<button onclick="loadMap(locationsArray)">Try it</button>
 -->	</body>
</html>
