<!DOCTYPE html>
<html>
	<head> 
		<title> Session Log </title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0u-SXBYuLVB_cSNAb_rBuH7uhAVf1fdA&sensor=false&location_type=RANGE_INTERPOLATED"></script>
		<script type="text/javascript" src='/javascripts/socket.io.min.js'></script>    
		<script type="text/javascript" src='/javascripts/jquery-1.9.1.min.js'></script>    
		<script type="text/javascript" src='/javascripts/index.js'></script>    
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>


		<script type="text/javascript">
			 function setup()
			 {
			 	// var guardianContactArray =  session.session.guardianContactArray;
			 	// console.log(guardianContactArray);
			 	//  for (var guardianContact in guardianContactArray){
			 	//  	guardianArray.innerHTML += guardianContact.phone;
			 	// }
			 	var startDate = document.getElementById("startDate");
		     	startDate.innerHTML=moment(<%= session.session.startDate %>).format("dddd, MMMM Do, h:mm a");
		     	var endDate = document.getElementById("endDate");
		     	endDate.innerHTML=moment(<%= session.session.endDate %>).format("dddd, MMMM Do, h:mm a");

			 }
			function loadMap(locationsArray) 
			{
				//console.log("check it: "+locationsArray[0].timeStamp);
				var geocoder = new google.maps.Geocoder();

				var centerLong;
				var centerLat
				if(locationsArray.length)
				{
					centerLat = locationsArray[locationsArray.length-1].latitude;
					centerLong = locationsArray[locationsArray.length-1].longitude;
				}
				else
				{
					centerLat = 33.775509;
					centerLong = -84.396379;
				}

				var myOptions = {
				  center: new google.maps.LatLng(centerLat, centerLong),
				  zoom: 13,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById("map"),
					myOptions);	

				

				var myMarker, i;
				for( i = 0; i < locationsArray.length; i++)
				{
					marker = new google.maps.Marker({
					position: new google.maps.LatLng(locationsArray[i].latitude, locationsArray[i].longitude), // Example Lat/Long
					map: map, // references the map object you defined earlier
					title: moment(locationsArray[i].timeStamp).format("dddd, h:mm a") // a title that will appear on hover
	    			});
				} 	

				var tableHTML = '<table class="table text-center" style="width:1000px">';
				tableHTML += '<th class="text-center">TIME</th>';
				tableHTML += '<th class="text-center">ADDRESS</th>';

				document.addEventListener("address_found", function(e) {
  					console.log(e.detail); // Prints "Example of an event"
  		  // tableHTML += "<tr><td>" + locationsArray[i].timeStamp + "</td>";  
	      //           tableHTML += "<tr><td>" + results[1].formatted_address + "</td>";
	      //           tableHTML += "<td>" + locationsArray[i].longitude + "</td>";
	      //           tableHTML += "</tr>";  

				});


				// results += '<th class = "text-center">Longitude</th>';

	            for (var i=0; i<locationsArray.length; i++) {   
	            	var location = locationsArray[i];
	            	var latlng = new google.maps.LatLng(location.latitude, location.longitude);
	            	(function(i){ //start wrapper code
	            	geocoder.geocode({'latLng': latlng}, function(results, status){
	            		// console.log(i);
	            		// console.log(results);
	            		if (status == google.maps.GeocoderStatus.OK) {
						      if (results[3]) {
						      	var addressHTML = document.getElementById("addr_"+i);
						      	addressHTML.innerHTML = results[3].formatted_address;
						      } else {
				          		//alert('No results found');
						      }
						} else {
						      //alert('Geocoder failed due to: ' + status);
						}
	            	});
	            	})(i);
	       			tableHTML += "<tr><td>" + moment(locationsArray[i].timeStamp).format("dddd, h:mm a") + "</td>";  
	                tableHTML += "<td id=\"addr_"+i+"\">(" + locationsArray[i].latitude + " / "+ locationsArray[i].longitude + ")</td>";
	                tableHTML += "</tr>";  
	            }
	            // function callback(i, results, status){
	            // 	console.log(i);
	            // }
		   //      function callback (i, results, status){
		   //          function(results, status) {
					// 	    if (status == google.maps.GeocoderStatus.OK) {
					// 	      if (results[1]) {
					// 	      	var addressHTML = document.getElementById("addr_"+i);
					// 	      	addressHTML.innerHTML = results[1].formatted_address;
					// 	      } else {
				 //          		alert('No results found');
					// 	      }
					// 	    } else {
					// 	      alert('Geocoder failed due to: ' + status);
					// 	    }
					// }
					// console.log(i);
					// function(results, status){
					// 	console.log(i);
					// }
		   //      }

	            tableHTML += "</table>";
	         	var div = document.getElementById("Table");
	        	div.innerHTML = tableHTML;	
			}

			function initializeLocations(){
			  setup();
		      var pathArray = window.location.href.split( '/' );
		      var pathCreated = window.location.origin+"/getLocationsArrayForSession/"+pathArray[pathArray.length-1];
		       $.get(pathCreated,function(data,status){
		         loadMap(data);
		      });
			}
			
			window.onload=initializeLocations;
			
		</script>
		
	</head>
	<body>
		<div class = "container-fluid">
			<div class="row">
			<div class="text-center">
				<h1><span class="fa"></span> <%= session.session.email %>'s Session</h1>
				<button type="button" class="btn btn-danger btn-xs">Call</button>
				<button type="button" class="btn btn-primary btn-xs">E-mail</button>
			</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="map" style="width:100%;height:250px;margin-top:10px;margin-bottom:20px"></div>
				</div>
			</div>
			<div class="row">
			<div class="col-sm-6 col-sm-offset-2">
			<div><span class="fa"></span>
				<b>START | </b> <span id="startDate">Date</span>
			</div>
			<div><span class="fa"></span>
				<b>END |  </b> <span id="endDate">Date</span>
			</div>
<!-- 			<div><span class="fa" ></span>
				<b>Guardians:</b> <span id="guardianArray"><%= guardianContactArray = session.session.guardianContactArray %><span>
			</div>
 -->

			<div id="Table" style="margin-top:20px"></div>
			</div>
			</div>
		</div>

<!-- 		<button onclick="loadMap(locationsArray)">Try it</button>
 -->	</body>
</html>
